  /* Constants and Variables */
 $navbar-default-bg: #312312;
 $light-orange: #ff8c00;
 $navbar-default-color: $light-orange;

 @import "bootstrap-sprockets";
 @import "bootstrap";
/* Universal*/
body {
  padding-top: 80px;
}

.center {
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}


/* header css */
#logo {
  margin: 10px 10px 10px auto;
  float: left;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: yellow;
    text-decoration: none;
  }
}

.nav_item {
  margin-left: 25px;
  float: left;
  margin-top: 20px;
  .btn {
    margin-right: 25px;
  }
}



/* content css */

.left {
  text-align: center;
  letter-spacing: .5px;
}

/* footer css */

footer{
  margin-top: 25px;
  color: #777;
  .container {
    border-top: 1px solid #eaeaea;
      p {
        margin: 10px 10px 10px auto;
        float: left;
        padding-top: 9px;
      }

      ul {
        margin: auto;
        padding-top: 18px;
        li {
        list-style: none;
        display: inline;
        margin-left: 25px;
        }
      }
  }
}

.chef_info {
  margin-top: 10px;
}

.gravatar {
  border-radius: 10px;

}

.recipe-guide {
  text-align: left;
}

.well {
  background-color: #EDEDED;
}

input, textarea, select, uneditable-input {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
} 

input {
  height: auto !important;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.show_recipe {
  margin:  10px 10px 10px 10px;
}