<footer>
  <div class="container">
    <p>&copy; AnhNV 2015</p>
    <ul class="pull-right">
      <li><%= link_to "link_1", "#" %></li>
      <li><%= link_to "link_2", "#" %></li>
      <li><%= link_to "link_3", "#" %></li>
    </ul>
  </div>
</footer>